/*���������*/
*{
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





@color-logo: #211833;
@spa-text: #263a41;
@spa: #ff817e;
@banner-titel:#1e2528;
@banner-subtitel:#555555;
@blog-titel:#30383b;
@placeholder:#999999;
@subtitel:#888888;
@titel:#1e2528;

//global

.app{
 width: 1920px;
 margin: 0 auto;
 
}

.container{
  max-width: 1145px;
	margin: 0 auto;
}
.subtitel{
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color: @subtitel;
	line-height: 27px;
}

.titel{
	font-size: 42px;
	text-align: center;
	color: @titel;
}



//Header



.header{
	padding-top: 70px;
	padding-bottom: 195px;
}
.header__inner{
	display: flex;
	align-items: center;
	
}
.header__logo{
	padding-right: 179px;
}
  .logo{
		
		font-size: 30px;
		text-transform: capitalize;
		color:@color-logo ;
		position: relative;
	}
	.logo:hover{
		
		color: @color-logo;
	}
.logo::before{
	content: '';
	width: 50px;
	height: 42px;
	background-image: url(../img/logo-img.png);
	position: absolute;
	left: 22px;
	bottom: 35px;
	
}

	.menu-list{
		display: flex;
		justify-content: center;
	}

.menu__list-link{
  
	font-size: 14px;
color: @spa-text;
	text-transform: uppercase;
	padding-right: 48px;
}
.menu__list-link:hover{
	color:@spa ;
}

// Banner


.banner{
	position: relative;
}
.banner::before{
	content: '';
	background-image: url(../img/face.png);
	background-repeat: no-repeat;
	width:834px ;
	height:894px;
	position: absolute;
	bottom: 178px;
	right: 0px;
}
.banner__inner{
	text-align: left;
	padding-bottom: 373px;
	position: relative;
}
.banner__subtitel{
	
	font-size: 15px;
	text-transform: uppercase;
	color:	@spa;
	padding-bottom: 47px;
}
.banner__titel{
	font-size: 60px;
	color:@banner-titel ;
	padding-bottom: 50px;
}
.banner__desc{
	font-size: 15px;
	line-height: 27px;
	color:@banner-subtitel ;
	padding-bottom: 59px;
}
.link__bnt{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff1f0;
	width: 170px;
	background: @spa; 
	border: none;
	padding: 21px 54px 21px 32px;
	position: relative;
}
.link__bnt:hover{
	color: #fff1f0;
}
.link__bnt::after{
content: '';
background-image: url(../img/strelca.png);
background-repeat: no-repeat;
position: absolute;
width: 11px;
height: 11px;
top: 25px;
right: 32px;
}
//Elements

.elements{
	position: relative;
}
.elements::before{
	content: '';
	background-image: url(../img/tsvetok.png);
	background-repeat: no-repeat;
	position: absolute;
	width:240px ;
	height:534px ;
	bottom: 354px;
	left: 0px;
}
.mack::before{
	content: '';
	background-image: url(../img/tsvetok-mak-img.png);
	background-repeat: no-repeat;
	position: absolute;
	width:130px ;
	height: 118px;
	bottom: 0px;
	left: 326px;
}
.roz::before{
	content: '';
	background-image: url(../img/tsvetok-roz-img.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 88px;
	height:75px ;
	top: 142px;
	right: 132px;
}
//About



.about__subtitel{
	position: relative;
	padding-top: 106px;
	padding-bottom: 38px;
}
.about__subtitel::before{
	content: '';
	background: url(../img/about-logo.png) no-repeat;
	position: absolute;
	top: 0px;
	left: 536px;
	width: 84px;
	height: 70px;
}
.titel{
	font-size: 42px;
	text-align: center;
	color: #1e2528;
}
.about__titel{
	padding-bottom: 40px;
}
.desc{
	font-size: 15px;
	line-height: 28px;
	color: @subtitel;
	text-align: center;
}
.about__desc{
	padding-bottom: 91px;
}
.link{
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	background: @spa; 
	border: none;
	border-radius:22px ;
	padding: 20px 47px;
}
.about-link{
padding-bottom: 160px;
text-align: center;
}

//Feature

.feature__content{
	padding-bottom: 148px;
}


//service
.service__titel{
	padding-bottom: 30px;
}
.service__subtitel{
	padding-bottom: 117px;
	line-height: 27px;
}
.service__content{
	display: flex;
}
.message__theraphy-img{
	text-align: center;
}
.service__content-titel{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	color:@spa-text;
	padding-top: 43px;
	padding-bottom: 34px;
}
.service__content-desc{
	font-size: 14px;
	font-weight: 200;
	color: @subtitel;
	line-height: 27px;
	text-align: center;
	
	
	padding-bottom: 47px;
}
.service__content-bnt{
	text-align: center;
}
.service__bnt{
	font-size: 13px;
	text-transform: uppercase;
	color: #ebebeb;
	background: #30383b;
	text-align: center;
	padding: 18px 23px;
	border-radius: 19px;
}
.service__bnt:hover{
	background: @spa;
	color:#d3bdbd ;
}
.message__theraphy{
	padding-left: 29px;
	padding-right: 35px;
}
.beauty__care{
	padding-left: 35px;
	padding-right: 35px;
}
.executive{
	padding-left: 35px;
	padding-right: 20px;
}
//testi
.testimonials{
	background: #fff9f8;
	padding-bottom: 138px;
}
.testi__text{
	font-size: 18px;
	line-height: 35px;
	
	text-align: center;
	padding-top: 238px;
	position: relative;
}
.testi__text::before{
	content: '';
	background: url(../img/Test-logo.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 59px;
	height: 50px;
	bottom: 134px;
	right: 530px;
}

.testi__content{
padding-top: 50px;
}

.testi__img{
	text-align: center;
}
.testi__name{
	font-size: 20px;
	
	text-align: center;
	padding-top: 30px;
}
.executive{
	font-size: 14px;
	color: #263a41;
}

//team

.team__titel{
	padding-top: 145px;
	padding-bottom: 30px;
}
.team__subtitel{
	
	padding-bottom: 96px;
}
.team__content{
	display: flex;
	justify-content: space-between;
}
.team__container{
	max-width: 360px;
	height: 420px	;
	position: relative;
}
.team__item{
	text-align: center;
	background: #fff;
	
	
}

.team__name{
	font-size: 22px;
	color: @spa-text;
	font-weight: 700;
	text-align: center;
	padding-bottom: 15px;
}
.team__message{
	font-size: 15px;
	font-weight: 200;
	color: #777777;
	text-align: center;
	
}
.austin{
	width: 300px;
	height: 100px;
	background-color: #fff;
	position: absolute;
	top: 374px;
	left: 30px;
	padding-top: 40px;
}
.hannan{
	width: 300px;
	background-color: #fff;
	text-align: center;
	position: absolute;
	top: 320px;
	left: 25px;
	padding-top: 40px;
}
.hannan-social{
	padding-right: 15px;
}
.team__name-hannan{
	padding-top: 40px;
	padding-bottom: 15px;
}
.hannan-message{
	padding-bottom: 30px;
}


//appointment

.appointment__item{
	display: flex;
	position: relative;
}

.appointment-img::before{
	content: '';
	background-image: url(../img/app-img.png);
	background-repeat: no-repeat;
	width: 778px;
	height: 644px;
	position: absolute;
	top: 300px;
	left: 0px;
}
.form__content{
	padding-top: 340px;
	padding-bottom: 500px;
	display: flex;
	justify-content: flex-end;
}
.form__item{
	padding-bottom: 60px;
}

.from-elemnts-right::after{
	content: '';
	width: 320px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #d4d3d3;
}
.form__elements{
	padding-bottom: 19px;
	padding-right: 200px;
}
.from-elemnts-right{
	padding-right: 150px;
	padding-left: 200px;

}
.input__placeholder::placeholder{
	font-size: 12px;
	color:@subtitel ;
	text-transform: uppercase;
}
.appoi__bnt{
	color: #fff;
	background: @spa;
	padding: 20px 30px;
	border-radius: 19px;
	text-align: center;
}
//blog 

.titel-blog{
padding-bottom: 40px;
}
.blog-subtitel{
padding-bottom: 115px;
}
.blog__content{
	display: flex;
	justify-content: center;
}
.blog__elements{
	padding-right: 70px;
	padding-left: 20px;
	margin: 0 auto;
}
.blog__mate{
	padding-top: 37px;
	color:@subtitel;
	text-transform: uppercase;
	text-align: center;
}
.mate{
	position: relative;
	padding-right: 10px;
}
.mate::after{
	content: '';
	background: url(../img/blog.png);
	width: 1px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 87px;
}
.blog__content-titel{
	font-size: 22px;
	padding-top: 20px;
	text-align: center;
	color: @blog-titel;
}
.blog__content-subtitel{
	padding-top: 30px;
	text-align: center;
	color: @subtitel;
	line-height: 27px;
	padding-bottom: 40px;
}
.read{
	padding-top: 60px;
	text-align: center;
}

//contact
.titel__contact{
	padding-top: 200px;
}
.subtitel__contact{
	padding-top: 40px;
}
.contact__container{
	padding-top: 120px;
	display: flex;
	padding-left: 177px;
}
.contact-location{
	padding-bottom: 64px;
	line-height: 27px;
	color: @subtitel;
	text-transform: uppercase;
	position: relative;
}
.contact-location::before{
	content: '';
	background-image: url(../img/contact-location.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 	50px;
	position: absolute;
	top: 2px;
	right:200px ;
}
.contact-mail{
	text-transform: uppercase;
	padding-bottom: 64px;
	line-height: 27px;
	color: @subtitel;
	position: relative;
}
.contact-mail::before{
	content: '';
	background-image: url(../img/contact-mail.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 	50px;
	position: absolute;
	top: 2px;
	right:200px ;}
.contact-phone{
	position: relative;
	line-height: 27px;
	color: @subtitel;
}
.contact-phone::before{
	content: '';
	background-image: url(../img/contact-phone.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 	50px;
	position: absolute;
	top: 2px;
	right:200px ;
}
.contact__link{
	color: @subtitel;
}
.contact__link:hover{
	color: @subtitel;
}
.contact-form{
	padding-left: 160px;
	display: flex;
	flex-direction: column;
}
.form__first-name{
	padding-left: 20px;
}
.form__first-name::placeholder {
  color: @placeholder;
  font-size: 12px;
	text-transform: uppercase;
}
.form__mail{
padding-top: 60px;
padding-left: 20px;
}
.form__mail::placeholder {
  color: @placeholder;
  font-size: 12px;
	text-transform: uppercase;
}
.form__select-service{
padding-top: 70px;
padding-bottom: 140px;
padding-left: 20px;
}
.form__select-service::placeholder {
  color: @placeholder;
  font-size: 12px;
	text-transform: uppercase;
}
.contact__bnt{
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	padding:20px 45px ;
	background: @spa;
	border-radius: 22px;
}
//footer
.footer__logo{
	padding-top: 300px;
	display: flex;
	justify-content: center;
}

.footer__menu{
padding-top: 60px;

}
.footer-social{
	padding-top: 50px;
	display: flex;
	justify-content: center;
}
.footer-img{
	text-align: center;
}
.social{
	
	position: relative;
}
.social__links{
	position: relative;
	text-align: center;
	padding-right: 30px;
	text-align: center;
	
}
.social__links::after{
	content: '';
	width: 1px;
	height: 16px;
	background: #b1b4bb;
	position: absolute;	
	top: 2px;
	right:15px ;
}
.social__links:nth-child(4){
	text-decoration: none;
}
.footer__text{
	font-size: 13px;
	text-align: center;
	color:@subtitel;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 97px;
}
.themeis{
	color: @spa;
}

/*color logo #211833
color: #263a41;
color: #1e2528;*/

/* font-family: 'PlayfairDisplayVariableFont_wght';
font-family: 'RobotoLight';
font-family: 'RobotoMedium';
font-family: 'robotoregular';
 font-family: 'RufinaBold';
 font-family: 'RufinaRegular';*/
 