.head {
background: #008040;
}

.contacts{
    background: #c60304;
}
.table{
    background: #ff8040;
}

.foot{
    background: #912f00;
}
.li{
    background: #ff0000;
}
.text{
    background: #fff;
}
   
